<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>enroll</title>
</head>
<body>
    <a href="{% url 'waitboard' %}">board</a>
    <a href="{% url 'mypage' %}">mypage</a>
    {% for number in numbers %}
    {{number.applynumber}}
    <form method="POST" action="{% url 'enroll' %}">
        {% csrf_token %}
        <input type="hidden" name=number value={{number.applynumber}}>
        <button type="submit">신청</button>
    </form>
    {% endfor %}


</body>
</html>